<h1>Listing ad_accounts</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Phone</th>
      <th>Login</th>
      <th>Token</th>
      <th>Data</th>
      <th>Client</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ad_accounts.each do |ad_account| %>
      <tr>
        <td><%= ad_account.email %></td>
        <td><%= ad_account.phone %></td>
        <td><%= ad_account.login %></td>
        <td><%= ad_account.token %></td>
        <td><%= ad_account.data %></td>
        <td><%= ad_account.client %></td>
        <td><%= ad_account.deleted_at %></td>
        <td><%= link_to 'Show', ad_account %></td>
        <td><%= link_to 'Edit', edit_ad_account_path(ad_account) %></td>
        <td><%= link_to 'Destroy', ad_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad account', new_ad_account_path %>
