<%- model_class = AdCategory -%>
<div class="page-header">
  <h1><%=t '.title', :default => AdCategory %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:ad_texts) %></th>
      <th><%= model_class.human_attribute_name(:fast_urls) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:ad_text1) %></th>
      <th><%= model_class.human_attribute_name(:ad_text2) %></th>
      <th><%= model_class.human_attribute_name(:ad_text3) %></th>
      <th><%= model_class.human_attribute_name(:ad_text4) %></th>
      <th><%= model_class.human_attribute_name(:ad_text5) %></th>
      <th><%= model_class.human_attribute_name(:fast_url1) %></th>
      <th><%= model_class.human_attribute_name(:fast_url2) %></th>
      <th><%= model_class.human_attribute_name(:fast_url3) %></th>
      <th><%= model_class.human_attribute_name(:fast_url4) %></th>
      <th><%= model_class.human_attribute_name(:fast_url_title1) %></th>
      <th><%= model_class.human_attribute_name(:fast_url_title2) %></th>
      <th><%= model_class.human_attribute_name(:fast_url_title3) %></th>
      <th><%= model_class.human_attribute_name(:fast_url_title4) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @ad_categories.each do |ad_category| %>
      <tr>
        <td><%= ad_category.id %></td>
        <td><%= ad_category.name %></td>
        <td><%= ad_category.url %></td>
        <td><%= ad_category.title %></td>
        <td><%= ad_category.ad_texts %></td>
        <td><%= ad_category.fast_urls %></td>
        <td><%= ad_category.deleted_at %></td>
        <td><%= ad_category.ad_text1 %></td>
        <td><%= ad_category.ad_text2 %></td>
        <td><%= ad_category.ad_text3 %></td>
        <td><%= ad_category.ad_text4 %></td>
        <td><%= ad_category.ad_text5 %></td>
        <td><%= ad_category.fast_url1 %></td>
        <td><%= ad_category.fast_url2 %></td>
        <td><%= ad_category.fast_url3 %></td>
        <td><%= ad_category.fast_url4 %></td>
        <td><%= ad_category.fast_url_title1 %></td>
        <td><%= ad_category.fast_url_title2 %></td>
        <td><%= ad_category.fast_url_title3 %></td>
        <td><%= ad_category.fast_url_title4 %></td>
        <td><%=l ad_category.created_at, format: :long %></td>
        <td>
          <%= link_to ad_category_path(ad_category), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to ad_category_path(ad_category), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ad_category_path,
            :class => 'btn btn-primary' %>
