<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ad_category.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @ad_category.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ad_category.title %>
</p>

<p>
  <strong>Ad texts:</strong>
  <%= @ad_category.ad_texts %>
</p>

<p>
  <strong>Fast urls:</strong>
  <%= @ad_category.fast_urls %>
</p>

<p>
  <strong>Client:</strong>
  <%= @ad_category.client %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @ad_category.deleted_at %>
</p>

<p>
  <strong>Ad text1:</strong>
  <%= @ad_category.ad_text1 %>
</p>

<p>
  <strong>Ad text2:</strong>
  <%= @ad_category.ad_text2 %>
</p>

<p>
  <strong>Ad text3:</strong>
  <%= @ad_category.ad_text3 %>
</p>

<p>
  <strong>Ad text4:</strong>
  <%= @ad_category.ad_text4 %>
</p>

<p>
  <strong>Ad text5:</strong>
  <%= @ad_category.ad_text5 %>
</p>

<p>
  <strong>Fast url1:</strong>
  <%= @ad_category.fast_url1 %>
</p>

<p>
  <strong>Fast url2:</strong>
  <%= @ad_category.fast_url2 %>
</p>

<p>
  <strong>Fast url3:</strong>
  <%= @ad_category.fast_url3 %>
</p>

<p>
  <strong>Fast url4:</strong>
  <%= @ad_category.fast_url4 %>
</p>

<p>
  <strong>Fast url title1:</strong>
  <%= @ad_category.fast_url_title1 %>
</p>

<p>
  <strong>Fast url title2:</strong>
  <%= @ad_category.fast_url_title2 %>
</p>

<p>
  <strong>Fast url title3:</strong>
  <%= @ad_category.fast_url_title3 %>
</p>

<p>
  <strong>Fast url title4:</strong>
  <%= @ad_category.fast_url_title4 %>
</p>

<%= link_to 'Edit', edit_ad_category_path(@ad_category) %> |
<%= link_to 'Back', ad_categories_path %>
