<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => Client %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:state_id) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:legal_form) %></th>
      <th><%= model_class.human_attribute_name(:legal_name) %></th>
      <th><%= model_class.human_attribute_name(:legal_inn) %></th>
      <th><%= model_class.human_attribute_name(:legal_kpp) %></th>
      <th><%= model_class.human_attribute_name(:legal_ogrn) %></th>
      <th><%= model_class.human_attribute_name(:legal_address) %></th>
      <th><%= model_class.human_attribute_name(:post_address) %></th>
      <th><%= model_class.human_attribute_name(:legal_bank_name) %></th>
      <th><%= model_class.human_attribute_name(:legal_bank_bic) %></th>
      <th><%= model_class.human_attribute_name(:legal_cor_acc_num) %></th>
      <th><%= model_class.human_attribute_name(:legal_bank_acc_num) %></th>
      <th><%= model_class.human_attribute_name(:legal_ceo_reason) %></th>
      <th><%= model_class.human_attribute_name(:legal_ceo_position) %></th>
      <th><%= model_class.human_attribute_name(:legal_ceo_full_name) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:balance) %></th>
      <th><%= model_class.human_attribute_name(:web_site) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td><%= client.name %></td>
        <td><%= client.state_id %></td>
        <td><%= client.phone %></td>
        <td><%= client.data %></td>
        <td><%= client.legal_form %></td>
        <td><%= client.legal_name %></td>
        <td><%= client.legal_inn %></td>
        <td><%= client.legal_kpp %></td>
        <td><%= client.legal_ogrn %></td>
        <td><%= client.legal_address %></td>
        <td><%= client.post_address %></td>
        <td><%= client.legal_bank_name %></td>
        <td><%= client.legal_bank_bic %></td>
        <td><%= client.legal_cor_acc_num %></td>
        <td><%= client.legal_bank_acc_num %></td>
        <td><%= client.legal_ceo_reason %></td>
        <td><%= client.legal_ceo_position %></td>
        <td><%= client.legal_ceo_full_name %></td>
        <td><%= client.deleted_at %></td>
        <td><%= client.balance %></td>
        <td><%= client.web_site %></td>
        <td><%=l client.created_at, format: :long %></td>
        <td>
          <%= link_to client_path(client), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to client_path(client), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_client_path,
            :class => 'btn btn-primary' %>
