<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @client.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Data:</strong>
  <%= @client.data %>
</p>

<p>
  <strong>Legal form:</strong>
  <%= @client.legal_form %>
</p>

<p>
  <strong>Legal name:</strong>
  <%= @client.legal_name %>
</p>

<p>
  <strong>Legal inn:</strong>
  <%= @client.legal_inn %>
</p>

<p>
  <strong>Legal kpp:</strong>
  <%= @client.legal_kpp %>
</p>

<p>
  <strong>Legal ogrn:</strong>
  <%= @client.legal_ogrn %>
</p>

<p>
  <strong>Legal address:</strong>
  <%= @client.legal_address %>
</p>

<p>
  <strong>Post address:</strong>
  <%= @client.post_address %>
</p>

<p>
  <strong>Legal bank name:</strong>
  <%= @client.legal_bank_name %>
</p>

<p>
  <strong>Legal bank bic:</strong>
  <%= @client.legal_bank_bic %>
</p>

<p>
  <strong>Legal cor acc num:</strong>
  <%= @client.legal_cor_acc_num %>
</p>

<p>
  <strong>Legal bank acc num:</strong>
  <%= @client.legal_bank_acc_num %>
</p>

<p>
  <strong>Legal ceo reason:</strong>
  <%= @client.legal_ceo_reason %>
</p>

<p>
  <strong>Legal ceo position:</strong>
  <%= @client.legal_ceo_position %>
</p>

<p>
  <strong>Legal ceo full name:</strong>
  <%= @client.legal_ceo_full_name %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @client.deleted_at %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @client.balance %>
</p>

<p>
  <strong>Web site:</strong>
  <%= @client.web_site %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
